<div class="container">

  <h3> Course | <%= @course.id %></h3>
  <h6> Title <%= @course.title %></h6> <br />


  <% @problems.each do |problem| %>
      <br>
      <a href="/solve/<%= problem.id%>">
        <h6><%= problem.domain1 %>|<%= problem.domain2 %>|<%= problem.domain3 %></h6>
      </a>
      <br>
      <hr>
  <% end %>
</div>
