<div class="container">
  <div class="domaiin-title">
    <br>
    <h6>Domain1  <%= @problem.domain1 %></h6>
    <h6>Domain2  <%= @problem.domain2 %></h6>
    <h6>Domain3  <%= @problem.domain3 %></h6>
  </div>
  <hr>
  <div class="problem-box">
    <img class="problem-img" src="/../<%= @problem.pcode%>.png">
  </div>
  
  <div class="answer">
    <form action="/solve/<%=@problem.id%>/submitAnswer" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="row">
        <label class="col s2">
          <input class="with-gap" type="radio" name="usrAnswer" value="1" />
          <span> 1  </span>
        </label>
        <label class="col s2">
          <input class="with-gap" type="radio" name="usrAnswer" value="2" />
          <span> 2  </span>
        </label>
        <label class="col s2">
          <input class="with-gap col s2" type="radio" name="usrAnswer" value="3" />
          <span> 3  </span>
        </label>
        <label class="col s2">
          <input class="with-gap col s2" type="radio" name="usrAnswer" value="4" />
          <span> 4  </span>
        </label>
        <label class="col s2">
          <input class="with-gap col s2" type="radio" name="usrAnswer" value="5" />
          <span> 5  </span>
        </label>
      </div>
      
    <button class="waves-effect waves-light btn-small right" type="submit" value="Submit"><i class="material-icons">palette</i>Submit</button>
      
    </form>
  </div>
  
</div>



