<div class="container">
  <div class="domaiin-title">
    <br>
    <h6>Domain1 | <%= @problem.domain1 %></h6>
    <h6>Domain2 | <%= @problem.domain2 %></h6>
    <h6>Domain3 | <%= @problem.domain3 %></h6>
  </div>
  <hr>
  <div class="problem-box">
    <img class="problem-img" src="/../<%= @problem.pcode%>.png">
  </div>
  
  <!-- 디자인은 이게 더 예쁜데...ㅠㅠ -->
  <!-- <form action="/solve/course/<%=@course.id%>/<%=@problem.id%>/submitAnswer" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <ul class="number-list">
        <li class="round-button" name="_answer">1</li>
        <li class="round-button" name="_answer">2</li>
        <li class="round-button" name="_answer">3</li>
        <li class="round-button" name="_answer">4</li>
        <li class="round-button" name="_answer">5</li>
      </ul>
      <input type="submit" value="제출">

  </form> -->
  
  <form action="/solve/course/<%=@course.id%>/<%=@problem.id%>/submitAnswer" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="radio" name="usrAnswer" value="1">1<br>
    <input type="radio" name="usrAnswer" value="2"> 2<br>
    <input type="radio" name="usrAnswer" value="3"> 3<br>
    <input type="radio" name="usrAnswer" value="4"> 4<br>
    <input type="radio" name="usrAnswer" value="5"> 5
    
    <input type="submit" value="제출">
    
  </form>
  
  
</div>

