<!DOCTYPE html>
<html>
  <head>
    <title>ThinkBig :: Customized Math Problem Solving Method Solution</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet" type="text/css"/>


   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


  </head>

  <body>

<div class="navbar-fixed">
    <nav class="white">
      <div class="nav-wrapper">

        <a href="/" class="brand-logo black-text">
          <i class="small material-icons">palette</i>ThinkBig
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down black-text">
          <li><a href="/">SUBJECT</a></li>
          <%if user_signed_in?%>
            <li><a href="/home/mypage">MY PAGE</a></li>
            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete%></li>
            <li>Hi
            <%=current_user.name%> !</li>
          <%else%>
            <li><%= link_to 'SIGN UP', new_user_registration_path%></li>
            <li><%= link_to 'SIGN IN', new_user_session_path%></li>
          <%end%>

        </ul>

      </div>
    </nav>
  </div>


<%= yield %>

<footer></footer>
  </body>
</html>
